{{#blogs}}
                <!-- blog entry -->
                <h1><a href="/{{url}}">{{title}}</a></h1>
                <p><span class="glyphicon glyphicon-time"></span> Posted on: {{relativeDate}}</p>
                <hr>
                <img src="http://placehold.it/900x300" class="img-responsive">
                <hr>
                <p>{{{preview}}}</p>
                <a class="btn btn-primary" href="/{{url}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
{{/blogs}}