<!DOCTYPE html>
<html>
<head>
  <title>{{config.title}}</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/styles/{{config.style}}.css" rel="stylesheet" type="text/css" />
  <link href="/css/app.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/highlight.pack.js"></script>
  <script type="text/javascript" src="/js/keyboard-shortcuts.js"></script>
</head>
<body>
  <div class="container-fluid">
      
    <div class="row">
      <div class="col-md-8 col-md-offset-2">         
        <div class="page-header">
          <img src="http://placehold.it/900x200" class="img-responsive img-thumbnail">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                </ol> 
        </div><!-- /page-header -->
          {{{body}}}       
        <div class="footer">
          powered by <a href="https://github.com/martinrue/codeblog" target="_blank">codeblog</a>
        </div>          
     </div><!-- / .col-md-6 .col-md-offset-3 -->
    </div>      
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
