img{
    display: block;
    height: auto;
    max-width: 100%;
}
.footer {
  text-align: right;
  padding: 10px 0;
  font-size: 14px;
  color: #aaa;
}
.page-header {
    border-bottom: 0;
    margin: 12px 0 21px;
    padding-bottom: 0;
}