body {
  font: 200 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 35px;
  color: #555;
}

header {
  position: relative;
  padding: 30px 20px 20px 130px;
  margin-bottom: 10px;
}

header hr {
  background: #eee;
  height: 1px;
  border: none;
  margin: 13px 0 0 -110px;
}

header a {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

header a span {
  border-radius: 50%;
  border: solid 5px #eee;
  display: block;
}

header a span img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

header h1 {
  font: 100 45px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  margin: 0;
}

h2 {
  font: 400 30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
  color: #555;
}

h3 {
  font: 200 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #bbb;
}

.post-container {
  padding: 25px 0;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  text-decoration: none;
  color: #00bfff;
}

p {
  margin: 0 0 20px 0;
}

p a {
  color: #00bfff;
}

.post h1, .post h2, .post h3, .post h4, .post h5 {
  font-size: 22px;
  line-height: 35px;
  padding: 0;
  margin: 0;
}

blockquote p {
  font: 200 22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 35px;
  color: #888;
}

li {
  line-height: 35px;
}

pre {
  background: none;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
}

pre code {
  font-size: 16px;
  line-height: 25px;
  border-radius: 0px;
  padding: 10px;
}

.info {
  font: 200 26px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 40px;
  padding: 20px 0;
  color: #666;
}

.info span {
  border: solid 1px #ddd;
  background: #f0f0f0;
  border-radius: 4px;
  padding: 3px 8px;
  text-shadow: 1px 1px 1px #fff;
}

p code {
  font-weight: 200;
  font-size: 18px;
  color: #555;
  text-shadow: 1px 1px 1px #fff;
}

.footer {
  text-align: right;
  padding: 10px 0;
  font-size: 14px;
  color: #aaa;
}
